# Configurações do Banco de Dados
DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_SERVER=LOCALHOST\SQLEXPRESS
DB_DATABASE=NFE_AUTOMATION_DB
DB_USER=sa
DB_PASSWORD=sua_senha_aqui

# API Arquivei (Qive)
API_ID=seu_api_id_aqui
API_KEY=sua_api_key_aqui

# Notificações
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/seu_webhook_fake

# Configurações Gerais
LOG_LEVEL=INFO
DAYS_TO_KEEP_LOG=7
